@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.Appdown {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro-paragraph {
  font-size: 14px;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.circle-slider {
  height: 40px;
  width: 40px;
  position: fixed;
  left: calc(50% - 22px);
  border-radius: 50%;
  background-color: #005b96;
  top: 50%;
  border-style: solid;
  border-color: #fff;
  cursor: move;
  z-index: 20;
}

.flexicution {
  display: flex;
}

.header-james {
  width: 20%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  color: #000;
  z-index: 30;
  font-weight: bold;
}

.left {
  background-color: #005b96;
  color: #fff;
  height: 100vh;
  width: 50%;
  overflow: auto;
  position: fixed;
}
.all-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.project-container {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.project-tile {
  /*width: 200px;
  height: 200px;*/
  /*position:*/
  position: relative;
}
.project-text {
  position: absolute;
  z-index: 100;
  display: none;
  width: 180px;
  text-align: left;
  padding: 10px;
  font-family: 'Ubuntu';
}

.project-header {
  font-size: 16px;
}

.project-description {
  padding-top: 10px;
  font-size: 14px;
}

.project-technologies {
  padding-top: 10px;
  font-size: 14px;
}

.project-container:hover .project-text{
  display: block;
}

.project-container:hover .project-image{
  opacity: 0.2;
}

.project-image {
  height: 100%;
  width: 100%;
  float: none;
}

.project-image:hover{
  opacity: 0.2;
}

.left-body {
  /*margin-top: 50px;*/
}

.right {
  background-color: #fff;
  color: #005b96;
  height: 100vh;
  width: 50%;
  overflow: auto;
  position: fixed;
  right: 0;
}

.header-align {
  /*margin: 0 auto;*/
  font-size: 18px;
  padding: 10px;
}

.header-padding {
  height: 40px;
  width: 50%;
}

.header-topic {
  font-size: 20px;
  padding: 10px;
}

.header-container {
  height: 40px;
  width: 50%;
  position: fixed;
}

.header-flex {
  /*display: flex;*/
  /*align-items: center;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*justify-content: space-between;*/
}

.header-items {
  padding: 10px 10px 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}
