@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.Appdown {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.intro-paragraph {
  font-size: 14px;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.circle-slider {
  height: 40px;
  width: 40px;
  position: fixed;
  left: calc(50% - 23.5px);
  border-radius: 50%;
  background-color: #005b96;
  top: 50%;
  border-style: solid;
  border-color: #fff;
  cursor: move;
  z-index: 20;
}

.flexicution {
  display: flex;
}

.header-james {
  width: 20%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 18px;
  color: #000;
  z-index: 100;
  font-weight: bold;
}

.header-align {
  /*margin: 0 auto;*/
  font-size: 18px;
  padding: 10px;
}

.header-padding {
  height: 40px;
  width: 100%;
}

.header-topic {
  font-size: 20px;
  padding: 10px;
}

.header-container {
  height: 40px;
  position: fixed;
  z-index: 10000;
}

.header-items {
  padding: 10px 10px 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}
